<security version="5">
  <general>
    <operations developer="1" flags="511" />
    <userinfo nick="SYSDBA" name="SYSDBA" groupname="SYSDBA" grouphandle="6" email="" />
  </general>
  <tables>
    <table name="BAIRROS" flags="15" />
    <table name="CARRINHO" flags="15" />
    <table name="DESCONTOS" flags="15" />
    <table name="EMPRESAS" flags="15" />
    <table name="ES_MUNICIPIO_FILTRO" flags="15" />
    <table name="ESTADOS" flags="15" />
    <table name="FILIAIS" flags="15" />
    <table name="ITENSPEDIDO" flags="15" />
    <table name="LOGRADOUROS" flags="15" />
    <table name="MODELOS" flags="15" />
    <table name="MUNICIPIOS" flags="15" />
    <table name="PAISES" flags="15" />
    <table name="PEDIDO" flags="15" />
    <table name="PESSOAS" flags="15" />
    <table name="PRODUTOS" flags="15" />
    <table name="R_CLASSIFICACOES" flags="15" />
    <table name="R_DETALHECAMPOS" flags="15" />
    <table name="R_DETALHEDETALHES" flags="15" />
    <table name="R_DETALHES" flags="15" />
    <table name="R_GRUPORELATORIOS" flags="15" />
    <table name="R_GRUPOSRELATORIOS" flags="15" />
    <table name="R_QUEBRASDETALHE" flags="15" />
    <table name="R_RELATORIOFONTESDADOS" flags="15" />
    <table name="R_RELATORIOIMPRESSOES" flags="15" />
    <table name="R_RELATORIOS" flags="15" />
    <table name="R_RELATORIOUSUARIOS" flags="15" />
    <table name="R_TAREFARELATORIOS" flags="15" />
    <table name="ROTINAS" flags="15" />
    <table name="TIPOSMODELOS" flags="15" />
    <table name="W_APLICACAOGRUPOS" flags="15" />
    <table name="W_APLICACAOINTEGRACOES" flags="15" />
    <table name="W_APLICACAOSERVIDORES" flags="15" />
    <table name="W_APLICACOES" flags="15" />
    <table name="W_BEFVERSIONVALIDATOR" flags="15" />
    <table name="W_BIBLIOTECAS" flags="15" />
    <table name="W_CAMPOSLINKS" flags="15" />
    <table name="W_CONFIGURACOES" flags="15" />
    <table name="W_CONSULTACAMPOS" flags="15" />
    <table name="W_CONSULTAS" flags="15" />
    <table name="W_CONTEUDOACESSOS" flags="15" />
    <table name="W_CONTEUDOCOMPLEMENTOS" flags="15" />
    <table name="W_CONTEUDOS" flags="15" />
    <table name="W_CRIARFONTEDADOS" flags="15" />
    <table name="W_CRIARPAGINA" flags="15" />
    <table name="W_CRIARPAGINACRUD" flags="15" />
    <table name="W_CRIARWIDGET" flags="15" />
    <table name="W_ENTIDADES" flags="15" />
    <table name="W_ENTIDADEVISAOFILTROS" flags="15" />
    <table name="W_ENTIDADEVISOES" flags="15" />
    <table name="W_ESTILOS" flags="15" />
    <table name="W_FAVORITOS" flags="15" />
    <table name="W_FILTROS" flags="15" />
    <table name="W_GPTABELAITENS" flags="15" />
    <table name="W_GPTABELAS" flags="15" />
    <table name="W_GRUPOITEMGRUPOS" flags="15" />
    <table name="W_GRUPOITENS" flags="15" />
    <table name="W_GRUPOS" flags="15" />
    <table name="W_INDICEARTEFATOS" flags="15" />
    <table name="W_MENUITENS" flags="15" />
    <table name="W_MENUS" flags="15" />
    <table name="W_MODULOGRUPOS" flags="15" />
    <table name="W_MODULOPASTAS" flags="15" />
    <table name="W_MODULOS" flags="15" />
    <table name="W_NOVOSARQUIVOS" flags="15" />
    <table name="W_PAGINARECURSOS" flags="15" />
    <table name="W_PAGINAS" flags="15" />
    <table name="W_PAGINATEMPLATES" flags="15" />
    <table name="W_PAGINAWIDGETS" flags="15" />
    <table name="W_PASTAGRUPOS" flags="15" />
    <table name="W_PERMALINKS" flags="15" />
    <table name="W_PORTAIS" flags="15" />
    <table name="W_RECUPERACAOSENHAS" flags="15" />
    <table name="W_SCRIPTS" flags="15" />
    <table name="W_SERVICOS" flags="15" />
    <table name="W_TAGLIBS" flags="15" />
    <table name="W_TAREFAPAGINAS" flags="15" />
    <table name="W_VERSAOARTEFATOS" flags="15" />
    <table name="W_VERSAODB" flags="15" />
    <table name="W_VISAOGRUPOS" flags="15" />
    <table name="W_VISAORELATORIOS" flags="15" />
    <table name="W_VISOES" flags="15" />
    <table name="W_VISOESSUBSTITUTAS" flags="15" />
    <table name="W_WHERECLAUSE" flags="15" />
    <table name="W_WIDGETACTIONVIEW" flags="15" />
    <table name="W_WIDGETAMCHARTS" flags="15" />
    <table name="W_WIDGETCONTROLEUSUARIO" flags="15" />
    <table name="W_WIDGETCUBO" flags="15" />
    <table name="W_WIDGETFORMULARIO" flags="15" />
    <table name="W_WIDGETFORMWORKFLOW" flags="15" />
    <table name="W_WIDGETGRIDEDITAVEL" flags="15" />
    <table name="W_WIDGETGRIDSIMPLES" flags="15" />
    <table name="W_WIDGETGRIDWORKFLOW" flags="15" />
    <table name="W_WIDGETHTML" flags="15" />
    <table name="W_WIDGETMAPA" flags="15" />
    <table name="W_WIDGETMENU" flags="15" />
    <table name="W_WIDGETPAINELCOMANDOS" flags="15" />
    <table name="W_WIDGETPARTIALVIEW" flags="15" />
    <table name="W_WIDGETRELATORIO" flags="15" />
    <table name="W_WIDGETS" flags="15" />
    <table name="W_WIDGETSILVERLIGHT" flags="15" />
    <table name="W_WIDGETTILE" flags="15" />
    <table name="Z_AGENDACAMPOPERMISSOES" flags="15" />
    <table name="Z_AGENDACAMPOS" flags="15" />
    <table name="Z_AGENDAMENTOFILHOS" flags="15" />
    <table name="Z_AGENDAMENTOLOG" flags="15" />
    <table name="Z_AGENDAMENTOPARAMETROS" flags="15" />
    <table name="Z_AGENDAMENTOS" flags="15" />
    <table name="Z_AGENDAPAGINAPERMISSOES" flags="15" />
    <table name="Z_AGENDAS" flags="15" />
    <table name="Z_AGENDAUSUARIOS" flags="15" />
    <table name="Z_AGRUPAMENTOCUBOS" flags="15" />
    <table name="Z_AJUDAARVORES" flags="15" />
    <table name="Z_AJUDADOCUMENTOS" flags="15" />
    <table name="Z_AJUDAGRUPODOCUMENTOS" flags="15" />
    <table name="Z_AJUDAIMAGENS" flags="15" />
    <table name="Z_AJUDATEXTOS" flags="15" />
    <table name="Z_ALCADAS" flags="15" />
    <table name="Z_APELIDOS" flags="15" />
    <table name="Z_ARQUIVOSTEMPORARIOS" flags="15" />
    <table name="Z_ARVOREARVORES" flags="15" />
    <table name="Z_ARVORECOMANDOS" flags="15" />
    <table name="Z_ARVORES" flags="15" />
    <table name="Z_ARVORETABELABLOQUEIOS" flags="15" />
    <table name="Z_ARVORETABELACAMPOS" flags="15" />
    <table name="Z_ARVORETABELAPAGINAS" flags="15" />
    <table name="Z_ARVORETABELAS" flags="15" />
    <table name="Z_ASSISTENTESVIRTUAIS" flags="15" />
    <table name="Z_BTLREQUISICOES" flags="15" />
    <table name="Z_CAMPOS" flags="15" />
    <table name="Z_CAMPOSINDICES" flags="15" />
    <table name="Z_CAMPOSPESQUISAR" flags="15" />
    <table name="Z_CERTIFICADORAS" flags="15" />
    <table name="Z_CLIENTEMODULOS" flags="15" />
    <table name="Z_CLIENTEMODULOSESPECIFICOS" flags="15" />
    <table name="Z_CLIENTES" flags="15" />
    <table name="Z_CLIENTETABELAS" flags="15" />
    <table name="Z_COMANDOSEXECUTADOS" flags="15" />
    <table name="Z_COMPARADOR" flags="15" />
    <table name="Z_CONEXAOLOCKS" flags="15" />
    <table name="Z_CONTADORES" flags="15" />
    <table name="Z_CONTADORITENS" flags="15" />
    <table name="Z_CONTEUDOSTEMPORARIOS" flags="15" />
    <table name="Z_CUBOAGRUPAMENTOS" flags="15" />
    <table name="Z_CUBOGERACAOVISOES" flags="15" />
    <table name="Z_CUBOGERACOES" flags="15" />
    <table name="Z_CUBOS" flags="15" />
    <table name="Z_CUBOUSUARIOS" flags="15" />
    <table name="Z_DATAPACKETLEGENDAS" flags="15" />
    <table name="Z_DATAPACKETS" flags="15" />
    <table name="Z_DATAPACKETUSUARIOS" flags="15" />
    <table name="Z_DATAS" flags="15" />
    <table name="Z_DESKTOPGRUPOS" flags="15" />
    <table name="Z_DESKTOPMODELOS" flags="15" />
    <table name="Z_DESKTOPPLUGINS" flags="15" />
    <table name="Z_DESKTOPS" flags="15" />
    <table name="Z_EMAILANEXOS" flags="15" />
    <table name="Z_EMAILS" flags="15" />
    <table name="Z_EMPRESATRADUCOES" flags="15" />
    <table name="Z_ENTITYDEFINITIONGENERATOR" flags="15" />
    <table name="Z_EXTENSOES" flags="15" />
    <table name="Z_FERIADOS" flags="15" />
    <table name="Z_FILAMENSAGENS" flags="15" />
    <table name="Z_FILAS" flags="15" />
    <table name="Z_FILTROCONDICOES" flags="15" />
    <table name="Z_FILTROS" flags="15" />
    <table name="Z_FLAGSGRUPO" flags="15" />
    <table name="Z_FLAGSITENS" flags="15" />
    <table name="Z_FONTESDADOS" flags="15" />
    <table name="Z_FORMULARIOCAMPOS" flags="15" />
    <table name="Z_FORMULARIOPAGINAS" flags="15" />
    <table name="Z_FORMULARIOS" flags="15" />
    <table name="Z_FORMVIEWGENERATOR" flags="15" />
    <table name="Z_GRIDVIEWGENERATOR" flags="15" />
    <table name="Z_GRUPOARVORECOMANDOS" flags="15" />
    <table name="Z_GRUPOARVORES" flags="15" />
    <table name="Z_GRUPOARVORESGENERICAS" flags="15" />
    <table name="Z_GRUPOARVORETABELACOMANDOS" flags="15" />
    <table name="Z_GRUPOARVORETABELAS" flags="15" />
    <table name="Z_GRUPOCOMANDOS" flags="15" />
    <table name="Z_GRUPOGRUPOS" flags="15" />
    <table name="Z_GRUPOREGRASSENHAS" flags="15" />
    <table name="Z_GRUPOS" flags="15" />
    <table name="Z_GRUPOSAGENDAMENTOS" flags="15" />
    <table name="Z_GRUPOTABELACAMPOS" flags="15" />
    <table name="Z_GRUPOTABELAS" flags="15" />
    <table name="Z_GRUPOTESTEFUNCAOEXECUCAO" flags="15" />
    <table name="Z_GRUPOTESTEFUNCOES" flags="15" />
    <table name="Z_GRUPOTESTES" flags="15" />
    <table name="Z_GRUPOUSUARIOALCADAS" flags="15" />
    <table name="Z_GRUPOUSUARIOEMPRESAFILIAIS" flags="15" />
    <table name="Z_GRUPOUSUARIOEMPRESAS" flags="15" />
    <table name="Z_GRUPOUSUARIOGRUPOS" flags="15" />
    <table name="Z_GRUPOUSUARIOLOGREPORTS" flags="15" />
    <table name="Z_GRUPOUSUARIOLOGSQLS" flags="15" />
    <table name="Z_GRUPOUSUARIOMENSAGENS" flags="15" />
    <table name="Z_GRUPOUSUARIOS" flags="15" />
    <table name="Z_GRUPOUSUARIOSENHAS" flags="15" />
    <table name="Z_HISTORICO" flags="15" />
    <table name="Z_IDIOMAS" flags="15" />
    <table name="Z_IDIOMATRADUCOES" flags="15" />
    <table name="Z_IMAGENS" flags="15" />
    <table name="Z_INDICECAMPOS" flags="15" />
    <table name="Z_INDICES" flags="15" />
    <table name="Z_LEIAUTECAMPOS" flags="15" />
    <table name="Z_LEIAUTECAMPOSATUALIZAR" flags="15" />
    <table name="Z_LEIAUTECAMPOSCHAVE" flags="15" />
    <table name="Z_LEIAUTECAMPOSVALOR" flags="15" />
    <table name="Z_LEIAUTES" flags="15" />
    <table name="Z_LEIAUTESUBARVORE" flags="15" />
    <table name="Z_LOG" flags="15" />
    <table name="Z_LOGAUTENTICACAO" flags="15" />
    <table name="Z_LOGNOTRANSACTION" flags="15" />
    <table name="Z_MACROGRUPOS" flags="15" />
    <table name="Z_MACROS" flags="15" />
    <table name="Z_MASCARAGRUPOS" flags="15" />
    <table name="Z_MASCARANIVEIS" flags="15" />
    <table name="Z_MASCARANIVELREGISTROS" flags="15" />
    <table name="Z_MASCARAS" flags="15" />
    <table name="Z_MQSTATUSMENSAGENS" flags="15" />
    <table name="Z_NEWS" flags="15" />
    <table name="Z_NEWSMODULOS" flags="15" />
    <table name="Z_OBJETOSNEGOCIO" flags="15" />
    <table name="Z_OPERACOES" flags="15" />
    <table name="Z_PAGINAS" flags="15" />
    <table name="Z_PAGINASWEB" flags="15" />
    <table name="Z_PAGINAWEBCAMPOS" flags="15" />
    <table name="Z_PAGINAWEBGRUPOS" flags="15" />
    <table name="Z_PAGINAWEBPAGINAS" flags="15" />
    <table name="Z_PALAVRASRESERVADAS" flags="15" />
    <table name="Z_PAPEIS" flags="15" />
    <table name="Z_PAPELATRIBUICOES" flags="15" />
    <table name="Z_PAPELPAPEIS" flags="15" />
    <table name="Z_PAPELTAREFAS" flags="15" />
    <table name="Z_PERFIS" flags="15" />
    <table name="Z_PERIODOS" flags="15" />
    <table name="Z_PLANILHACHAVES" flags="15" />
    <table name="Z_PLANILHAFUNCOES" flags="15" />
    <table name="Z_PLANILHAS" flags="15" />
    <table name="Z_PLANILHAUSUARIOS" flags="15" />
    <table name="Z_PROCESSOS" flags="15" />
    <table name="Z_QTQUESTAOOPCOES" flags="15" />
    <table name="Z_QTQUESTIONARIOS" flags="15" />
    <table name="Z_QTQUESTOES" flags="15" />
    <table name="Z_QTRESPOSTAQUESTOES" flags="15" />
    <table name="Z_QTRESPOSTAS" flags="15" />
    <table name="Z_RESUMOS" flags="15" />
    <table name="Z_SISTEMA" flags="15" />
    <table name="Z_SP" flags="15" />
    <table name="Z_SPBANCO" flags="15" />
    <table name="Z_SYSTEMMONITOR" flags="15" />
    <table name="Z_TABELACAMPOSGRID" flags="15" />
    <table name="Z_TABELACAMPOSRESULTADO" flags="15" />
    <table name="Z_TABELAFUNCOES" flags="15" />
    <table name="Z_TABELAHANDLES" flags="15" />
    <table name="Z_TABELAPARTICAOCAMPOS" flags="15" />
    <table name="Z_TABELAPARTICOES" flags="15" />
    <table name="Z_TABELAS" flags="15" />
    <table name="Z_TABELASCOMAUDITORIA" flags="15" />
    <table name="Z_TABELASCOMEMPRESAMESTRE" flags="15" />
    <table name="Z_TABELASPORPERIODO" flags="15" />
    <table name="Z_TABELASTRIGGERS" flags="15" />
    <table name="Z_TABELATEMPORARIA" flags="15" />
    <table name="Z_TAREFACOMPONENTESNEGOCIO" flags="15" />
    <table name="Z_TAREFAOPERACOES" flags="15" />
    <table name="Z_TAREFAPROCESSOS" flags="15" />
    <table name="Z_TAREFAS" flags="15" />
    <table name="Z_TAREFATAREFAS" flags="15" />
    <table name="Z_TIPOSDADOS" flags="15" />
    <table name="Z_TRANSACOES" flags="15" />
    <table name="Z_TRIGGERS" flags="15" />
    <table name="Z_VARIAVEIS" flags="15" />
    <table name="Z_VERSOES" flags="15" />
    <table name="Z_VIRTUAL_COPIAUSUARIO" flags="15" />
    <table name="Z_VIRTUAL_ENTERPROCESS" flags="15" />
    <table name="Z_VIRTUAL_LOGVIEW" flags="15" />
    <table name="Z_VIRTUAL_REENVIOEMAIL" flags="15" />
    <table name="Z_VIRTUAL_SAVEDESKTOP" flags="15" />
    <table name="Z_VIRTUAL_SCHCUBE" flags="15" />
    <table name="Z_VIRTUAL_SCHDATAPACKET" flags="15" />
    <table name="Z_VIRTUAL_SCHPROCESS" flags="15" />
    <table name="Z_VIRTUAL_SCHREPORT" flags="15" />
    <table name="Z_VIRTUAL_SCHSYSTEM" flags="15" />
    <table name="Z_VIRTUALIZACAODB" flags="15" />
    <table name="Z_VIRTUALIZACAODBPROVEDORES" flags="15" />
    <table name="Z_VISAOPERFIS" flags="15" />
    <table name="Z_VISOES" flags="15" />
    <table name="Z_WF_ENGINESERVICE" flags="15" />
    <table name="Z_WF_ENTITYSERVICE" flags="15" />
    <table name="Z_WFEXPORTADOR" flags="15" />
    <table name="Z_WFGRUPOS" flags="15" />
    <table name="Z_WFIMPORTADOR" flags="15" />
    <table name="Z_WFJORNADADETRABALHO" flags="15" />
    <table name="Z_WFJORNADADETRABALHOHORARIOS" flags="15" />
    <table name="Z_WFLEMBRETEPARTICIPANTES" flags="15" />
    <table name="Z_WFLEMBRETES" flags="15" />
    <table name="Z_WFMENSAGENS" flags="15" />
    <table name="Z_WFMODELOINSTANCIAATIVIDADES" flags="15" />
    <table name="Z_WFMODELOINSTANCIAEXCECOES" flags="15" />
    <table name="Z_WFMODELOINSTANCIAS" flags="15" />
    <table name="Z_WFMODELOMACROS" flags="15" />
    <table name="Z_WFMODELOPAPEIS" flags="15" />
    <table name="Z_WFMODELOPAPELPARTICIPANTES" flags="15" />
    <table name="Z_WFMODELOS" flags="15" />
    <table name="Z_WFMODELOSUBMODELOS" flags="15" />
    <table name="Z_WFMODELOSUSPENDERGRUPOS" flags="15" />
    <table name="Z_WFMODELOTAREFAS" flags="15" />
    <table name="Z_WFPAPEIS" flags="15" />
    <table name="Z_WFPAPELUSUARIOS" flags="15" />
    <table name="Z_WFPROCESSOAUTORIZACOES" flags="15" />
    <table name="Z_WFPROCESSOMODELOS" flags="15" />
    <table name="Z_WFPROCESSOS" flags="15" />
    <table name="Z_WFSISTEMAEMPRESAFILIAIS" flags="15" />
    <table name="Z_WFSISTEMAEMPRESAS" flags="15" />
    <table name="Z_WFSISTEMAS" flags="15" />
    <table name="Z_WFTAREFAAUDITORIAS" flags="15" />
    <table name="Z_WFTAREFADELEGAR" flags="15" />
    <table name="Z_WFTAREFAITENS" flags="15" />
    <table name="Z_WFTAREFAPARTICIPANTES" flags="15" />
    <table name="Z_WFTAREFAS" flags="15" />
    <table name="Z_WFUSUARIOSUBSTITUTOS" flags="15" />
    <table name="Z_ZLOG" flags="15" />
  </tables>
  <filters />
  <addedgroups />
  <companies />
</security>