<SystemConfigCache><xs:schema id="SystemConfigCache" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element name="SystemConfigCache" msdata:IsDataSet="true" msdata:UseCurrentLocale="true"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element name="Z_TABELASCOMEMPRESAMESTRE"><xs:complexType><xs:sequence><xs:element name="HANDLE_TABELA" type="xs:double" minOccurs="0" /><xs:element name="NOME_TABELA" type="xs:string" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema></SystemConfigCache>